<%= render 'shared/navbar_for_user' %>
<div class="panel panel-default">
  <div class="panel-heading"><%= @task.title %></div>
    <div class="panel-body"><%= @task.text %></div>
</div>
<%= link_to 'Повернутись назад', tasks_path %>
