  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><%= active_link_to 'Home', controller: "welcome", action: "index"%>
        <li role="presentation"><%= active_link_to 'About', controller: "welcome", action: "about" %>
        <li role="presentation"><%= active_link_to 'Contact', controller: "welcome", action: "contact" %>
      </ul>
    </nav>
    <h3 class="text-muted">Learning Math</h3>
  </div>
  