<div class="container">
  <%= render 'navbar' %>
  <div class="jumbotron">
    <h1>Jumbotron heading</h1>
    <p class="lead"></p>
    <p><a class="btn btn-lg btn-success"<%= link_to 'Зареєструйся вже сьогодні!', new_user_registration_path %> </a></p>
  </div>

  <footer class="footer">
    <p>&copy; 2016 Company, Inc.</p>
  </footer>

</div> <!-- /container -->
